/* UserDetails.css */

.user-details-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .user-card {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .user-card img {
    max-width: 100px;
    border-radius: 50%;
  }
  
  .repos-container {
    margin-top: 20px;
  }
  
  .repos-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .repo-card {
    background-color: #f5f5f5;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .repo-card h4 {
    margin-bottom: 10px;
  }
  
  .commits-section {
    margin-top: 10px;
  }
  
  .commit-item {
    margin-bottom: 5px;
  }

  /* UserDetails.css */
.github-profile-button {
    background-color: #28a745; 
    color: #fff;
    padding: 10px 15px; 
    font-size: 16px; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer; 
  }
  
  .github-profile-button:hover {
    background-color: #218838; /* Darker green on hover */
  }
  
  